<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--  configurable settings for DiffractionLossLib
          default values will be used if incorrect values are entered
    -->
    
    <!--  d distant between points in meters for plotting profile points
          default value is 100-->
    <add key="distanceBetweenPoints" value="100"/>

    <!--  directory to search in and download srtm files to if they are not present to get height data
          does not need to exist - will be created if not found 
          default value is C:\temp\srtm-cache -->
    <add key="srtmCache" value="C:\temp\srtm-cache"/>
    
    <!--  reference ellipsoid for Geodetic calculations
          available values are WGS84, GRS80, GRS67, ANS, WGS72, Clarke1858, Clarke1880, Sphere
          default value is WGS84 -->
    <add key="ellipsoid" value="WGS84"/>
    
  </appSettings>
</configuration>
