# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio files
.vs/

# Build Results
DiffractionLoss/bin/
DiffractionLoss/obj/
DiffractionLoss/packages/
packages/

Gavaghan.Geodesy/bin/
Gavaghan.Geodesy/obj/